node_modules/
dist/
build/
.env
.env.*    
.nyc_output/
coverage/
logs/
*.log

# TypeScript
*.tsbuildinfo

# OS & Editor files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# npm/yarn/pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.husky/_

dump.rdb
*.pid

notes.txt